[project]
	description = Example of CRUD Node.js and Mysql
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sukanta12345
[access "refs/for/refs/*"]
	read = group user/sukanta12345
	push = group user/sukanta12345
	label-Code-Review = -2..+2 group user/sukanta12345
	label-Verified = -1..+1 group user/sukanta12345
	rebase = group user/sukanta12345
	removeReviewer = group user/sukanta12345
	submit = group user/sukanta12345
[access "refs/heads/*"]
	read = group user/sukanta12345
	create = group user/sukanta12345
	push = +force group user/sukanta12345
	pushMerge = group user/sukanta12345
[access "refs/tags/*"]
	push = group user/sukanta12345
	push = +force group user/sukanta12345
